# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases
*.db
*.sqlite3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# GymTracker specific
mova.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
